*.class
*.jar

*.iml
.classpath
.idea
.DS_Store
.project
.settings/*
/.settings

target/
common/.classpath
common/.project
common/.settings/*
common/target/*
export/.classpath
export/.project
export/.settings/*
export/target/*

migration.properties.dominic
migration.properties.orig
